<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>

    <header>
        <img src="../img/logo.jpeg" alt="" width="100px">
        <div class="pesquisar">
             <input type="text" placeholder="Pesquisar Livros">
             <img src="../img/lupa.svg" alt="" width="25px">
        </div>
        <div class="login">
             <a class="button" href="login.html">Entrar</a>
             <a class="button" href="registrar.html">Registrar</a>
        </div>
     </header>
     
     <main>
        <div class="container-conta">
            <div class="container-info-conta-1">
                <div class="img-conta">
                    <img id="fotoPerfil" alt="Foto do perfil" width="230px"/>
                </div>
                <div class="info-conta" id="userConainer">
                    <h3 id="nomeUser"></h3>
                    <h3 id="emailUser"></h3>
                    <h3 id="emailUser"></h3>
                    <h3 id="userFavBook"></h3>
                </div>
            </div>
            <div class="container-info-conta-2">
                <div class="info-bloco">
                    <button class="button">Livros Escritos</button>
                    <button class="button">Avaliaçõe</button>
                    <button class="button">Histórico de Compra</button>
                    <button class="button">Carrinho</button>
                    <button class="button">Sair da Conta</button>
                </div>
                <div class="info-bloco-display">
                    <div id="livrosContainer"></div>
                </div>
            </div>
        </div>
     </main>

    <script src="/back-dog/views/js/viewUser.js"></script>
</body>
</html>